<div class="col-lg-3">
    <div class="list-group shadow-sm">

        <a href="{% url 'accounts:dashboard' %}"
           class="list-group-item list-group-item-action {% if request.path == '/cuenta/' %}active{% endif %}">
            🏠 Mi cuenta
        </a>

        <a href="{% url 'accounts:detalle_orden' %}"
           class="list-group-item list-group-item-action {% if 'cuenta/compras' in request.path %}active{% endif %}">
            📦 Mis compras
        </a>

        <a href="{% url 'accounts:profile %}"
           class="list-group-item list-group-item-action">
            👤 Perfil (pronto)
        </a>

        <a href="{% url 'accounts:adress_list' %}"
           class="list-group-item list-group-item-action">
            📍 Dirección (pronto)
        </a>

        <a href="{% url 'core:logout' %}"
           class="list-group-item list-group-item-action text-danger">
            🚪 Cerrar sesión
        </a>

    </div>
</div>
