{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Artesanías Pachy{% endblock %}</title>

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- AOS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">

    <!-- ICONS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" rel="stylesheet">

    <!-- ESTILOS DEL SITIO -->
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
</head>

<body>

    {# ---------------- NAVBAR ---------------- #}
    {% include "includes/navbar.html" %}

    {# ---------------- HERO SOLO EN HOME ---------------- #}
    {% if request.resolver_match.url_name == "home" %}
        {% include "core/_banners.html" %}
    {% endif %}

    <main class="py-4" style="position:relative; z-index:5;">
        {% block content %}{% endblock %}
    </main>

    {% include "includes/footer.html" %}

    <!-- JS BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- AOS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>AOS.init();</script>

</body>
</html>
